---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;

// Determine grid columns based on number of items
const columnCount = blok.columns?.length || 1;
let gridClass = 'grid gap-6 ';
if (columnCount === 1) gridClass += 'grid-cols-1';
else if (columnCount === 2) gridClass += 'grid-cols-1 md:grid-cols-2';
else if (columnCount === 3) gridClass += 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3';
else gridClass += 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4';
---

<div {...storyblokEditable(blok)} class="py-12">
  <div class="container mx-auto px-4">
    <div class={gridClass}>
      {blok.columns?.map((nestedBlok) => (
        <StoryblokComponent blok={nestedBlok} />
      ))}
    </div>
  </div>
</div>